a{
    text-decoration: none;
    background: royalblue;
    border: 3px solid royalblue;
    border-radius: 20px;
    padding: 5px 50px;
    margin: 10px 40px;
}
nav :visited{
    color: red;
}
body{
    background-color: rosybrown;
}
.container{
    width: 80%;
    margin:10px auto;
    padding: 20px;
    border: 6px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
